<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "New camel", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "All camels", restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Best camels", top_restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "camel.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "https://www.youtube.com/watch?v=uan8qs0gRjI", target: "_blank" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "My song") %>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.asergeev.com/pictures/archives/2012/1026/jpeg/10.jpg", target: "_blank" do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "My head") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
